{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }} - Feed
{% endblock %}
{% block content %}
<div>
	<h2>Socialize Feed</h2>
</div>
{% if feed is not empty %}
<div>
	{% for singlePost in feed %}
		<div Id="postDiv">
			<div Id="postDivContent"><a href="/{{ singlePost.username }}"><h5>{{ singlePost.username }}</h5></a></div>
			<div>
            	<img alt="post file" src="/media/{{ singlePost.mediaId }}/file" />
            </div>
            <div Id="postDivContent">
                <strong>{{ singlePost.uploadTime|date("d.m.Y") }}</strong>
            </div>
            <div Id="postDivContent">
                {{ singlePost.comment }}
            </div>
            <div Id="postDivContent">
                {% for hashtag in singlePost.hashtags %}
            		<a href="/%23{{ hashtag.name }}">#{{ hashtag.name }}</a>
                {% endfor %}
            </div>

            <div Id="postDivContent">
            	{{ singlePost.likes }}
            	{% if singlePost.liked == true %}
            		<a href="/like/{{ singlePost.Id }}/feed/"><img id="likeheart" src="/pictures/like.png"/></a>
                {% else %}
            		<a href="/like/{{ singlePost.Id }}/feed/"><img id="likeheart" src="/pictures/unlike.jpg"/></a>
            	{% endif %}
            </div>
		</div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}