{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }} - Feed
{% endblock %}
{% block content %}
<div>
	<h2>Socialize Feed</h2>
</div>
{% if feed is not empty %}
<div>
	{% for singlePost in feed %}
		<div Id="postDiv">
			<div Id="postDivContent"><a href="/{{ singlePost.username }}"><h5>{{ singlePost.username }}</h5></a></div>
			<div>
            	<img alt="post file" src="/media/{{ singlePost.mediaId }}/file" />
            </div>
            <div Id="postDivContent">
                <strong>{{ singlePost.uploadTime|date("d.m.Y") }}</strong>
            </div>
            <div Id="postDivContent">
                {{ singlePost.comment }}
            </div>
            <div Id="postDivContent">
                {% for hashtag in singlePost.hashtags %}
            		<a href="/%23{{ hashtag.name }}">#{{ hashtag.name }}</a>
                {% endfor %}
            </div>

            <div Id="postDivContent">
            	<div Id="countedLikes">{{ singlePost.likes }}</div>
            	<div Id="likerButton">
                	{% if singlePost.liked == true %}
                		<form action="/like" method="post">
                			<input type="hidden" name="postId" value="{{ singlePost.Id }}" />
                			<input type="hidden" name="returnUrl" value="feed" />
                      		<input type="hidden" name="like{{ singlePost.Id }}csrf" value="{{ singlePost.csrf }}">
                      		<input id="likeSubmit" type="submit" value="" />
                    	</form>
                    {% else %}
                		<form action="/like" method="post">
                			<input type="hidden" name="postId" value="{{ singlePost.Id }}" />
                			<input type="hidden" name="returnUrl" value="feed" />
                      		<input type="hidden" name="like{{ singlePost.Id }}csrf" value="{{ singlePost.csrf }}">
                      		<input id="unlikeSubmit" type="submit" value="" />
                    	</form>
                	{% endif %}
            	</div>
            </div>
		</div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}