{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }} - Feed
{% endblock %}
{% block content %}
<div>
	<h2>Socialize Feed</h2>
</div>
{% if feed is not empty %}
<div>
	Posts
	{% for singlePost in feed %}
		<div>
			<div><a href="/{{ singlePost.username }}">{{ singlePost.username }}</a></div>
			<div>
            	<img alt="post file" src="/media/{{ singlePost.mediaId }}/file" />
            </div>
            <div>
                <strong>{{ singlePost.uploadTime|date("d.m.Y") }}</strong>
            </div>
            <div>
                {{ singlePost.comment }}
            </div>
            <div>
                {% for hashtag in singlePost.hashtags %}
            		<a href="/%23{{ hashtag.name }}">#{{ hashtag.name }}</a>
                {% endfor %}
            </div>

            <div>
            	{{ singlePost.likes }}
            	{% if singlePost.liked == true %}
            		<a href="/like/{{ singlePost.Id }}/feed/">Unlike</a>
                {% else %}
            		<a href="/like/{{ singlePost.Id }}/feed/">Like</a>
            	{% endif %}
            </div>
		</div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}