{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }} - Feed
{% endblock %}
{% block content %}
<div>
	<h2>Socialize Hashtag {{ hashtag }}</h2>
</div>
{% if posts is not empty %}
<div>
	Posts
	{% for singlePost in posts %}
		<div Id="postDiv">
			<div Id="postDivContent"><a href="/{{ singlePost.username }}">{{ singlePost.username }}</a></div>
			<div>
            	<img alt="post file" src="/media/{{ singlePost.mediaId }}/file" />
            </div>
            <div Id="postDivContent">
                <strong>{{ singlePost.uploadTime|date("d.m.Y") }}</strong>
            </div>
            <div Id="postDivContent">
                {{ singlePost.comment }}
            </div>
            <div Id="postDivContent">
                {% for hashtag in singlePost.hashtags %}
            		<a href="/%23{{ hashtag }}">#{{ hashtag }}</a>
                {% endfor %}
            </div> 
            <div Id="postDivContent">
            	{{ singlePost.likes }}
            	{% if singlePost.liked == true %}
            		<a href="/like/{{ singlePost.Id }}/%23{{ hashtag }}/"><img id="likeheart" src="/pictures/like.png"/></a>
                {% else %}
            		<a href="/like/{{ singlePost.Id }}/%23{{ hashtag }}/"><img id="likeheart" src="/pictures/unlike.jpg"/></a>
            	{% endif %}
            </div>
		</div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}