{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }} - Index
{% endblock %}
{% block content %}
<div>
	<p>Welcome to Socialize</p>
</div>
{% if SESSION.isLoggedIn == true %}
<div>
	Search for user
    <form action="/search" method="get">
      <div>
      	<label>username:</label>
      	<input type="text" id="searchinput" name="searchusername" placeholder="username" />
      </div>
      <input id="searchsubmit" type="submit" value="Search" />
    </form>
    
    <div>
        {% if usernames is not empty %}
        	{% for username in usernames %}
        		<div>
                    <div>
                        <a href="/{{ username }}">{{ username }}</a>
                    </div>
        		</div>
            {% endfor %}
        {% endif %}
    </div>    
    
    Search for Hashtag
    <form action="/search" method="get">
    	<div>
    		<label>Hashtag:</label>
    		<input type="text" id="searchinput" name="searchhashtag" value="#" />
    	</div>
    	<input id="searchsubmit" type="submit" value="Search" />
    </form>
    
    <div>
        {% if hashtags is not empty %}
        	{% for name in hashtags %}
        		<div>
                    <div>
                        <a href="/%23{{ name }}">#{{ name }}</a>
                    </div>
        		</div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}