{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }} - {{ SESSION.username }}
{% endblock %}

{% block content %}
{% if SESSION.username == account.user.username %}
<div>
	<a href="/addpost">Add Post</a>
</div>
{% endif %}
<div>PostNummber{{ account.PostNumber }}</div>
<div>FollowerNummer{{ account.FollowerNumber }}</div>
<div>SubscriberNumber{{ account.SubscriberNumber }}</div>
{% endblock %}