{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }} - {{ SESSION.username }}
{% endblock %}

{% block content %}

<div>
	<div id="profileusername">
    	<div>
        	{% if account.user.mediaId is not empty %}
        		<img id="profilepicture" alt="profile picture" src="/media/{{ account.user.mediaId }}/file">
        	{% else %}
        		<img id="profilepicture" alt="alternative profile picture" src="/pictures/profilepicture.png">
        	{% endif %}
    	</div>
    	<div>
    		{{ account.user.username }}
    	</div>
    </div>
	<div>
    	<div id="profileInfoContainer">
    		<div id="profileInfo">Anzahl Posts</div>
    		<div>{{ account.PostNumber }}</div>
    	</div>
        <div id="profileInfoContainer">
        	<div id="profileInfo">Anzahl Follower</div>
        	<div>{{ account.FollowerNumber }}</div>
        </div>
        <div id="profileInfoContainer">
        	<div id="profileInfo">Anzahl Abonnementen</div>
        	<div>{{ account.SubscriberNumber }}</div>
        </div>
    </div>
</div>
<div id="userActions">
    {% if SESSION.username == account.user.username %}
    <div>
    	<a href="/addpost">Add Post</a>
    </div>
    {% endif %}
    
    {% if SESSION.username != account.user.username %}
    <div>
    	<form action="/updateSubscription" method="post">
    		<input type="hidden" id="target" name="target" value="{{ account.user.username }}">
    		<input type="hidden" id="addSubscriptioncsrf" name="addSubscriptioncsrf" value="{{ account.addSubscriptioncsrf }}">
    		{% if not account.subscribed %}
    		<input type="submit" id="submit" value="Subscribe">
    		{% else %}
    		<input type="submit" id="submit" value="Unsubscribe">
    		{% endif %}
    	</form>
    </div>
    {% else %}
    <div>
        {% if account.removeProfilePicturecsrf is not empty %}
        <div>
        	<form action="/updateprofilepicture" method="post">
        		<input type="hidden" id="removeProfilePicturecsrf" name="removeProfilePicturecsrf" value="{{ account.removeProfilePicturecsrf }}">
        		<input type="submit" id="RemoveProfilePicture" value="Remove Profile Picture"> 
        	</form>
        </div>
        {% endif %}
        <div>
        	<form action="/updateprofilepicture" method="post" enctype="multipart/form-data" name="change profile picture">
        		<input type="hidden" name="MAX_FILE_SIZE" value="2000000">  
          		<input type="file" id="picture" name="picture"/>
        		<input type="hidden" id="changeProfilePicturecsrf" name="changeProfilePicturecsrf" value="{{ account.changeProfilePicturecsrf }}">
        		<input type="submit" id="changeProfilePicture" value="Change Profile Picture">
        	</form>
        </div>
    </div>
    {% endif %}
</div>

{% if account.Posts is not empty %}
<div>
	<h3>Posts</h3>
	{% for singlePost in account.Posts %}
		<div>
			<div>
            	<img alt="post file" src="/media/{{ singlePost.mediaId }}/file" />
            </div>
            <div>
                <strong>{{ singlePost.uploadTime|date("d.m.Y") }}</strong>
            </div>
            <div>
                {{ singlePost.comment }}
            </div>
            <div>
                {% for hashtag in singlePost.hashtags %}
                    <a href="/%23{{ hashtag.name }}">#{{ hashtag.name }}</a>           		
                {% endfor %}
            </div>            
            <div>
            	{{ singlePost.likes }}
            	{% if singlePost.liked == true %}
            		<a href="/like/{{ singlePost.Id }}/{{ account.user.username }}/"><img id="likeheart" src="/pictures/like.png"/></a>
                {% else %}
            		<a href="/like/{{ singlePost.Id }}/{{ account.user.username }}/"><img id="likeheart" src="/pictures/unlike.jpg"/></a>
            	{% endif %}
            </div>
            {% if SESSION.username == account.user.username %}
                <div>
                	<form action="/deletePost/{{ singlePost.Id }}/" method="post">
                		<input hidden="hidden" id="removePostcsrf" name="removePostcsrf" value="{{ account.removePostcsrf }}">
                		<input type="submit" id="deletePost" value="Delete" >
                	</form>
                </div>
            {% endif %}
		</div>		
    {% endfor %}
</div>


{% endif %}
{% endblock %}