{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }} - Registration
{% endblock %}

{% block content %}
{% if confirm == true %}
<p>You have successfully created your account. Please confirm it with 
the email we sent you. Did not get an email? Check your spam folder!
{% else %}
<form action="/register" method="post">
  <div>
  	<label>Email:</label>
  	<input type="email" id="email" name="email" value="{{ email }}" />
  </div>
  <div id="emailerrormessage">
      {% if errormessage.email is not empty %}
      	{{ errormessage.email }}
      {% endif %}
  </div>
  
  <div>
      <label>username:</label>
      <input type="text" id="username" name="username" value="{{ username }}" />
  </div>
  <div id="usernameerrormessage">
      {% if errormessage.username is not empty %}
      	{{ errormessage.username }}
      {% endif %}
  </div>
  <div>
      <label>Password:</label>
      <input type="password" id="password" name="password" />
  </div>
  {% if errormessage.password is not empty %}
  	<div>{{ errormessage.password }}</div>
  {% endif %}
  <input type="hidden" name="registercsrf" value="{{ registercsrf }}" />
  <input id="submit" type="submit" value="Register" />
</form>

<script type="text/javascript">
	$("#email").change(function (e) {
	    var emailInput = $(e.target);
	    $.ajax({
	      type: 'POST',
	      url: '/register/checkemail',
	      data: {'email' : emailInput.val()},
	      success: function (response){
	  		if (response == true)	
		  		$("#emailerrormessage").html("Email existiert bereits");
	      },
	      error: function(e){
	        console.log("Da isch edn error passiert! ;(");
	        console.log(e);
	      }
	    });
	  });
</script>

<script type="text/javascript">	 
  $("#username").change(function (e) {
  	var usernameInput = $(e.target);
  	$.ajax({
  		type: 'POST',
      	url: '/register/checkusername',
      	data: {'username' : usernameInput.val()},
      	success: function (answer){
  			if (answer == true)
  	  			$("#usernameerrormessage").html("Username existiert bereits");
      	},
      	error: function(e){
        	console.log("Error while checking username! ;(");
	        console.log(e);
      	}
		});
  	});
</script>
{% endif %}
{% endblock %}



