{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }} - Registration
{% endblock %}

{% block content %}
{% if confirm == true %}
<p>You have successfully created your account. Please confirm it with 
the email we sent you. Did not get an email? click here</p><a href="#"><</a>
{% else %}
<form action="/register" method="post">
  <label>Email:<label/>
  <input type="email" id="email" name="email" value="{{ email }}" /><br/>
  {% if errormessage.email != null %}
  	<div>{{ errormessage.email }}</div>
  {% endif %}
  <label>username:<label/>
  <input type="text" id="username" name="username" value="{{ username }}"/><br/>
  {% if errormessage.username != null %}
  	<div>{{ errormessage.username }}</div>
  {% endif %}
  <label>Password:<label/>
  <input type="password" name="password" value="" /><br/><br/>
  {% if errormessage.password != null %}
  	<div>{{ errormessage.password }}</div>
  {% endif %}
  <input type="hidden" name="registercsrf" value="{{ registercsrf }}">
  <input id="submit" type="submit" value="Register" />
</form>

<script type="text/javascript">
	$("#email").change(function (e) {
	    var emailInput = $(e.target);
	    $.ajax({
	      type: 'POST',
	      url: '/register/checkemail',
	      data: {'email' : emailInput.val()},
	      success: function (response){
	  		if (response == true)		  		
				console.log("email existiert" + response);
			else
				console.log("email nicht vorhanden" + response);
	      },
	      error: function(e){
	        console.log("Da isch edn error passiert! ;(");
	        console.log(e);
	      }
	    });
	  });
</script>

<script type="text/javascript">	 
  $("#username").change(function (e) {
  	var usernameInput = $(e.target);
  	$.ajax({
  		type: 'POST',
      	url: '/register/checkusername',
      	data: {'username' : usernameInput.val()},
      	success: function (answer){
  			if (answer == true)
				console.log("username existiert" + answer);
			else
				console.log("username nicht vorhanden" + answer);
      	},
      	error: function(e){
        	console.log("Error while checking username! ;(");
	        console.log(e);
      	}
		});
  	});
</script>
{% endif %}
{% endblock %}



