{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }} - Reset Password
{% endblock %}

{% block content %}
{% if showpasswordcsrf is not empty %}
<form action="/reset/password/{{ resetString1 }}/{{ resetString2 }}" method="post">
  <label>New password:</label>
  <input type="password" id="password" name="password" /><br/>
  <label>Confirm password:</label>
  <input type="password" id="confirmpassword" name="confirmpassword" /><br/>
  <div>{{ errormessage }}</div>
  <input type="hidden" name="showpasswordcsrf" value="{{ showpasswordcsrf }}">
  <input type="submit" value="Reset Password" />
</form>
{% endif %}
{% endblock %}